.main-canvas {
	padding: 0;
	margin: 0 auto;

}
.off-canvas-wrapper {
	margin: 0;
	padding: 0;
	height: auto;
	overflow-y: scroll;
	overflow-x: hidden;
}

.off-canvas-content {
	background-color: pink;
	width: 100vw;
	height: 100vh;	
	position: relative;	

		.handle-cave-sidebar, {
			position: absolute;
			top:0;
			left: 0;
			z-index: 100;
		} 
		.grid-block {
			float: left;
			width: 14.2857142%; /* Fallback */
			width: -webkit-calc(100% / 7);
			width: calc(100% / 7);
			height: 20vh;
			padding-left: 10px;
			border: 1px solid $dark-gray;
			overflow-x: hidden;			
		}
				@media screen and (max-width: 1190px) {
					.grid-block {
						width: 14%; /* Fallback */
						width: -webkit-calc(100% / 7);
						width: calc(100% / 7);
						height: 20vh;
					}
				}
				@media screen and (max-width: 1140px) {
					.grid-block {
						width: 16.66666%; /* Fallback */
						width: -webkit-calc(100% / 6);
						width: calc(100% / 6);
						height: 20vh;
					}
				}
				@media screen and (max-width: 945px) {
					.grid-block {
						width: 20%; /* Fallback */
						width: -webkit-calc(100% / 5);
						width: calc(100% / 5);
						height: 20vh;
					}
				}
				@media screen and (max-width: 760px) {
					.grid-block {
						width: 25%; /* Fallback */
						width: -webkit-calc(100% / 4);
						width: calc(100% / 4);
						height: 20vh;
					}
				}				

<<<<<<< HEAD
				@media screen and (max-width: 660px) {
=======
				@media screen and (max-width: 600px) {
>>>>>>> master
					.grid-block {
						width: 33.3333333%; /* Fallback */
						width: -webkit-calc(100% / 3);
						width: calc(100% / 3);
<<<<<<< HEAD
						height: 33vh;
=======
						height: 20vh;
>>>>>>> master
						overflow-x: hidden;
					}
				}

<<<<<<< HEAD
				@media screen and (max-width: 400px) {
=======
				@media screen and (max-width: 440px) {
>>>>>>> master
					.grid-block {
						width: 50%; /* Fallback */
						width: -webkit-calc(100% / 2);
						width: calc(100% / 2);
<<<<<<< HEAD
						height: 50vh;
=======
						height: 33vh;
>>>>>>> master
						overflow-x: hidden;
					}
				}

				@media screen and (max-width: 300px) {
					.grid-block {
						width: 100%;
						overflow-x: hidden;
					}
				}										

}