.filter-select {
	width: 100%;
	height: 40px;
	background-color: $navy-normal;
	margin-top: 27px;
	vertical-align: bottom;
	padding: 10px 0 0 25px;
	font-size: 10px;
	color: #72808D;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
}
	.filter-select:hover {
		border: 1px solid $navy-lighter;
		padding: 10px 0 0 25px;
		/*border: 1px solid #232a3a;*/
	}