.filter-cave {
	height: 320px;
	border-bottom: 1px solid #232a3a;
		
		.filter-container {
			width: 100%; 
			height: 280px;
				
				.filter-title, {
					height: 65px;
					width: 100%;
					line-height: 4.5em;
					font-size: 23px;
					font-weight: normal;
					padding-left: 3px;
				}
					.filter-output {
						position: relative;
						height: 45px;
						width: 100%;
						margin-top: 40px;

							.crafts {
								width: 50px;
								height: 20px;
							}
							.real-output {
								width: auto;
								height: auto;								
								max-width: 32px;
								max-height: 32px;
								position: absolute;
								padding: 0.10rem 0 0 0;
								top: 0;
								right: 0;
								
								.filter-no {
									-webkit-appearance: none;
									-webkit-border-radius: 0.625rem;
									-moz-border-radius: 0.625rem;
									-o-border-radius: 0.625rem;
									border-radius: 0.625rem;
									padding: 0 0 0.125rem 0.625rem;
									color: $white;
									box-shadow: none;
									-webkit-box-shadow: none;
									-moz-box-shadow: none;
									-o-box-shadow: none;

								}
										input[type='number'] {
											-moz-appearance: textfield;
											background-color: $black;
											color: $white;
											height: 20px;
											text-align: center;
											padding: 0;
											-webkit-border-radius: 0.625rem;
											-moz-border-radius: 0.625rem;
											-o-border-radius: 0.625rem;
											border-radius: 0.625rem;
											border: 0;
											font-weight: normal;
											@include breakpoint(large) {
												font-size: 0.625rem;
											}
											@include breakpoint(medium) {
												font-size: 0.625rem;										
											}
											@include breakpoint(small) {			
												font-size: 0.625rem;								
											}	
									}
														 
										input[type='number']::-webkit-outer-spin-button,
										input[type='number']::-webkit-inner-spin-button {
											-webkit-appearance: none;
										}	
										input[type='number']::-webkit-input-placeholder { /* Chrome/Opera/Safari */
											color: $white;
										}
										input[type='number']::-moz-placeholder { /* Firefox 19+ */
											color: $white;
										}
										input[type='number']:-ms-input-placeholder { /* IE 10+ */
											color: $white;
										}
										input[type='number']:-moz-placeholder { /* Firefox 18- */
											color: $white;
										}		
										input[type='number']::placeholder {
											color: $white;
										}								
							}
					}	
						.filter-stack {
							height: 132px;
							width: 219px;
							line-height: 5em;
							font-size: 20px;
							margin-left: 3px;
							margin-top: 1px;
								
								.f-block {
									width: 32px;
									height: 39px;
									float: left;
									margin: 2px 2px 2px 2px;
								    -webkit-border-radius: 3px;
									-moz-border-radius: 3px;
									-o-border-radius: 3px;
									border-radius: 3px;
									background-color: $navy-normal;
									cursor: pointer;
									padding: 0.5625rem 0 0 0.4375rem;
									/*border: 1px solid #232a3a;*/
										.block-image {
											position: relative;
											width: 17px;
											height: 17px;

												.filter-image {
													position: absolute;
													width: 17px;
													height: 17px;
												}
										}
								}

								.f-block:hover {
									border: 1px solid $navy-lighter;
									padding: 0.5rem 0 0 0.35625rem;
									/*border: 1px solid #232a3a;*/
								}
								.f-block:active {
									border: 1px solid $navy-lighter;
									/*border: 1px solid #232a3a;*/
								}																																																																																											

						}																		


		}
}