.filter-select {
	width: 100%;
	height: 40px;
	background-color: $navy-normal;
	margin-top: 27px;
	vertical-align: bottom;
	padding: 10px 0 0 25px;
	font-size: 10px;
	color: #72808D;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
}
	.filter-select:hover {
		border: 1px solid $navy-lighter;
		padding: 10px 0 0 25px;
		/*border: 1px solid #232a3a;*/
	}

.select-output {
	width: 100%;
	margin-top: 1px;
	border-top: 1px solid pink;
	height: 0; 
	-webkit-transition: height 0.2s linear;
	-moz-transition: height 0.2s linear;
	transition: height 0.2s linear;	
	-o-transition: height 0.2s linear;	
    -ms-transition: height 0.2s linear;		
    overflow: scroll;
}
	.output-expand {
		width: 100%;	
		height: 185px;
		border: 1px solid pink;
	}	