input[type='number'] {
	-moz-appearance:textfield;
	background-color: $black;
	padding: 0;
	color: $white;
	height: 20px;
	border-radius: 0.625rem;
	border: 0;
	font-weight: normal;
		@include breakpoint(large) {
			font-size: 0.625rem;
		}
		@include breakpoint(medium) {
			font-size: 0.625rem;										
		}
		@include breakpoint(small) {			
			font-size: 0.75rem;									
		}	
}
					 
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}	
	input[type='number']::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $white;
	}
	input[type='number']::-moz-placeholder { /* Firefox 19+ */
		color: $white;
	}
	input[type='number']:-ms-input-placeholder { /* IE 10+ */
		color: $white;
	}
	input[type='number']:-moz-placeholder { /* Firefox 18- */
		color: $white;
	}		
	input[type='number']::placeholder {
		color: $white;
	}		