
/* side bar content setting */

.cave-sidebar {
	position: absolute;
	top:0;
	left:0;
	background-color: #181B28;
	min-width: 300px;
	overflow: hidden;
	height: 100%;
	background: url("../img/background/sidebar-bg.jpg");
    background-repeat: no-repeat;
 	background-size:100% 1700px;
    -webkit-background-size: 100% 1700px;
    -moz-background-size: 100% 1700px;
    -o-background-size: 100% 1700px; 
    background-position: top, left;	
}
	.off-canvas.position-left {
	    width: 335px;
	}
		@media only screen and (max-width: 400px) {
			.off-canvas.position-left {
			    width: 300px;
			}
				.position-left.is-open + .off-canvas-content {
					transform: translateX(300px);		
					min-width: 300px;			  	
				}
		}	  	
		
			.wrapper-sidebar-1{
				/*border: 1px solid #232a3a;*/
				height: 100%;
				margin: 0 auto;
				position: relative;
					@include breakpoint(large) {
						width: 255px;
					}
					@include breakpoint(medium) {
						width: 255px;
					}
					@include breakpoint(small) {			
						width: 76%;		
					}				
			}
			.wrapper-sidebar-2 {
				/*border: 1px solid #232a3a;*/
				height: 100%;
				margin: 0;
				position: relative;
					@include breakpoint(large) {
						width: 255px;
					}
					@include breakpoint(medium) {
						width: 255px;
					}
					@include breakpoint(small) {			
						width: 228px;		
					}				
			}					
					.logo-cave, {
						height: 95px;
						border-bottom: 1px solid #232a3a;
							.logo {
								width: 120px;
								height: 65px;
								background: url("../img/icons/craft-logo.png");
								background-position: 0px 24px;
			   				 	background-size: 108px 35px;
							    -webkit-background-size: 108px 35px;
							    -moz-background-size: 108px 35px;
							    -o-background-size: 108px 35px;
							    background-repeat: no-repeat;
							}
					}

					.projects-cave {
						height: 160px;
						width: 88%; /* Fallback */
						float: right;
						margin: 0;
						padding: 0;
						border-bottom: 1px solid #232a3a;
						-webkit-transition: height 0.2s linear;
	                    -moz-transition: height 0.2s linear;
	                    transition: height 0.2s linear;	
	                    -o-transition: height 0.2s linear;	
                        -ms-transition: height 0.2s linear;	
							.projects {
								width: auto;
								height: auto;
								padding: 35px 0 0 0;
							}
					}
					.projects-expand {
						height: 340px;
					}
					.content-type-cave {
						height: 160px;
						width: 88%; /* Fallback */
						float: right;
						border-bottom: 1px solid #232a3a;
						-webkit-transition: height 0.2s linear;
	                    -moz-transition: height 0.2s linear;
	                    transition: height 0.2s linear;	
	                    -o-transition: height 0.2s linear;	
                        -ms-transition: height 0.2s linear;							
							.type {
								width: auto;
								height: auto;
								padding: 35px 0 0 0;
							}							
					}
					.content-type-expand {
						height: 340px;
					}					

					.dynamic-cave {
						height: 160px;
						width: 88%; /* Fallback */
						float: right;
						border-bottom: 1px solid #232a3a;
						-webkit-transition: height 0.2s linear;
	                    -moz-transition: height 0.2s linear;
	                    transition: height 0.2s linear;	
	                    -o-transition: height 0.2s linear;	
                        -ms-transition: height 0.2s linear;							
							.dynamic {
								width: auto;
								height: auto;
								padding: 35px 0 0 0;
							}							
					}
					.dynamic-expand {
						height: 340px;
					}					
					.sequence-cave {
						height: 160px;
						width: 88%; /* Fallback */
						float: right;
						border-bottom: 1px solid #232a3a;
						-webkit-transition: height 0.2s linear;
	                    -moz-transition: height 0.2s linear;
	                    transition: height 0.2s linear;	
	                    -o-transition: height 0.2s linear;	
                        -ms-transition: height 0.2s linear;							
							.sequences {
								width: auto;
								height: auto;
								padding: 35px 0 0 0;
							}							
					}
					.sequence-expand {
						height: 340px;
					}					
					.size-cave {
						height: 160px;
						width: 88%; /* Fallback */
						float: right;
						border-bottom: 1px solid #232a3a;
						-webkit-transition: height 0.2s linear;
	                    -moz-transition: height 0.2s linear;
	                    transition: height 0.2s linear;	
	                    -o-transition: height 0.2s linear;	
                        -ms-transition: height 0.2s linear;							
							.sizes {
								width: auto;
								height: auto;
								padding: 35px 0 0 0;
							}							
					}
					.size-expand {
						height: 340px;
					}		

				/*	.year-cave {
						height: 115px;
						width: 88%; /* Fallback 
						float: right;
						border-bottom: 1px solid #232a3a;
							.years {
								width: auto;
								height: auto;
								padding: 20px 0 0 0;
							}						
					}   */	
				/*	.style-cave {
						height: 160px;
						width: 88%; /* Fallback
						float: right;
						border-bottom: 1px solid #232a3a;
						-webkit-transition: height 0.2s linear;
	                    -moz-transition: height 0.2s linear;
	                    transition: height 0.2s linear;	
	                    -o-transition: height 0.2s linear;	
                        -ms-transition: height 0.2s linear;							
							.styles {
								width: auto;
								height: auto;
								padding: 35px 0 0 0;
							}							
					}
					.style-expand {
						height: 340px;
					}	 */											