
/* side bar content setting */

.cave-sidebar {
	position: absolute;
	top:0;
	left:0;
	background-color: #1A1D2A;
}
	.off-canvas.position-left {
	    width: 25%;
	    min-width: 335px;
	    max-width: 335px;
	}
		@media only screen and (max-width: 400px) {
			.off-canvas.position-left {
			    width: 85%;
			    min-width: auto;
			}
				.position-left.is-open ~ .off-canvas-content {
					transform: translateX(100%);						  	
				}
		}	  
		
			.wrapper-sidebar {
				/*border: 1px solid #232a3a;*/
				height: 100%;
				margin: 0 auto;
				position: relative;
					@include breakpoint(large) {
						width: 79%;
					}
					@include breakpoint(medium) {
						width: 79%;
					}
					@include breakpoint(small) {			
						width: 76%;		
						border: 1px solid green;	
					}				
			}	
					.logo-cave, {
						height: 95px;
						border-bottom: 1px solid #232a3a;
							.logo {
								width: 120px;
								height: 60px;
								border: 1px solid #232a3a;
							}
					}
					.filter-cave {
						height: 320px;
						border-bottom: 1px solid #232a3a;
							.filter-container {
								width: 100%; 
								height: 280px;
									.filter-title, {
										height: 67px;
										width: 100%;
										border: 1px solid #232a3a;
										line-height: 5em;
										font-size: 20px;
										margin-bottom: 50px;
									}
									.filter-output {
										height: 30px;
										width: 100%;
										border: 1px solid #232a3a;
									}	
									.filter-stack {
										height: 132px;
										width: 220px;
										line-height: 5em;
										font-size: 20px;
										border: 1px solid pink;
											.f-block {
												width: 32px;
												height: 39px;
												float: left;
												margin: 2px;
												border-radius: 2px;
												border: 1px solid $navy-lighter;
												background-color: $navy-normal;
												/*border: 1px solid #232a3a;*/
											}
																																																																																											

									}																		


							}
					}
					.projects-cave {
						height: 160px;
						border-bottom: 1px solid #232a3a;
					}
					.content-type-cave {
						height: 160px;
						border-bottom: 1px solid #232a3a;
					}
					.subcatg-cave {
						height: 160px;
						border-bottom: 1px solid #232a3a;
					}
					.filter-cave {
						height: 320px;
						border-bottom: 1px solid #232a3a;
					}
					.filter-cave {
						height: 320px;
						border-bottom: 1px solid #232a3a;
					}
					.filter-cave {
						height: 320px;
						border-bottom: 1px solid #232a3a;
					}
			