.main-canvas {
	padding: 0;  /* chief wrapper*/
	margin: 0 auto;
		
		.off-canvas-wrapper {  
			margin: 0;  /* off canvas wrapper */
			padding: 0;
			height: auto; 
			width: auto;
			overflow-x: hidden;
 												
				.off-canvas-content { 
					  /* grid block container */
					background: url("../img/background/bg.jpg");
    				background-repeat: no-repeat;
				 	background-size:100% 100%;
				    -webkit-background-size: 100% 100%;
				    -moz-background-size: 100% 100%;
				    -o-background-size: 100% 100%; 
				    background-position: top left;
					width: 100vw;
					height: 100%;	
					position: relative;	

												

				}

		}	

}

