.tooltip { 
	color: $white; 
	background: black;
	opacity: 0.4; 
	padding: 0.125rem !important; 
	text-align: justify !important; 
	max-width: 40rem !important ; 
	border-radius: 2px; 
	border: none !important; 
	hyphens: auto; 
}