  <div class="filter-cave">
    <div class="wrapper-sidebar-1">
      <div class="filter-container">
        <div class="filter-title">
            Filters
        </div>  
          <div class="filter-output">
            <div class="crafts">
              <div class="filter-heading">
                Crafts
              </div>
              <div class="real-output">
                <input type="number" class="filter-no" id="filter-dis" value="" placeholder="18" />
              </div>              
            </div>  
          </div>
            <div class="filter-stack">
                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image"> 
                      <svg version="1.1" class="filter-image" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="17px" padding='0' preserveAspectRatio="xMidYMid meet" viewBox="0 0 500 500">
                      <path style="fill:#ED5564;" d="M499.404,20.096c-16.652-16.668-43.662-16.668-60.314,0l-316.645,316.63l60.314,60.314
                        L499.404,80.394C516.056,63.742,516.056,36.748,499.404,20.096z"/>
                      <path style="fill:#DA4453;" d="M482.486,52.073c-4.154-4.155-10.903-4.155-15.074,0L144.604,374.874
                        c-4.163,4.171-4.163,10.92,0,15.075c2.085,2.093,4.811,3.124,7.545,3.124c2.726,0,5.452-1.031,7.538-3.124l322.8-322.801
                        C486.658,62.992,486.658,56.244,482.486,52.073z"/>
                      <path style="fill:#656D78;" d="M194.131,406.289c0,90.807-133.907,98.009-178.201,98.009c-44.287,0,17.824-53.723,17.824-98.009
                        c0-44.287,35.898-80.185,80.192-80.185C158.233,326.104,194.131,362.002,194.131,406.289z"/>
                      <path style="fill:#434A54;" d="M15.93,504.298c44.294,0,178.201-7.202,178.201-98.009c0-12.278-2.765-23.917-7.701-34.32
                        c0,0.016-6.741,114.974-185.793,117.691l0,0C-1.566,498.705,1.652,504.298,15.93,504.298z"/>
                      </svg>

                      
                    </div>  
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/background-design.png" class="filter-image" alt="ic-2" />
                    </div>                     
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/animation.png" class="filter-image" alt="ic-3" />
                    </div>                    
                  </div>  
   
                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/coin.png" class="filter-image" alt="ic-4" />
                    </div>                    
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/projectmanagement.png" class="filter-image" alt="ic-5" />
                    </div>                      
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/directing.png" class="filter-image" alt="ic-6" />
                    </div>                   
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/propdesign.png" class="filter-image" alt="ic-7" />
                    </div>                      
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/sound-design.png" class="filter-image" alt="ic-8" />
                    </div>                    
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/script-writing.png" class="filter-image" alt="ic-10" />
                    </div>                      
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/sketchbook.png" class="filter-image" alt="ic-11" />
                    </div>                     
                  </div>  
   
                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/conceptart.png" class="filter-image" alt="ic-12" />
                    </div>                    
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/compositing.png" class="filter-image" alt="ic-13" />
                    </div>                     
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/ideatoscreen.png" class="filter-image" alt="ic-14" />
                    </div>                    
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/characterdesign.png" class="filter-image" alt="ic-15" />
                    </div>                    
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/real-estate.png" class="filter-image" alt="ic-16" />
                    </div>                     
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/usb-cable.png" class="filter-image" alt="ic-17" />
                    </div>                     
                  </div>  
  
                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/conceptart.png" class="filter-image" alt="ic-18" />
                    </div>                     
                  </div>  

                  <div class="f-block has-tip top" id="Aleks" data-tooltip aria-haspopup="true" title="test">
                    <div class="block-image">                    
                      <img src="assets/img/icons/filter/conceptart.png" class="filter-image" alt="ic-19" />
                    </div>                   
                  </div>  
                                                                                                                                                        

                </div>  
              </div>  
            </div>    
          </div> 