<div class="projection-wrapper">
	<div class="projection-container">
		<div class="project-top-bar">
			<div class="projection-title">
				<h3>
					Projects
				</h3>
			</div>
  			<div class="top-type-cave">
			      <div class="top-type">
			        <div class="top-type-heading">
			          Type
			        </div>
			      </div>
			      <div class="filter-select-top-bar" id="top-type-filter">
			        3 selected
			      </div>
    				
	    			<div class="select-top-bar-output" id="top-type-output">
				        <div class="select-all" id="full-select">
				          <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">Select all</div></label>
				        </div>  
	       
				        <ul class="vertical menu output-list-2">
				            <li class="list-item">
				              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic one dynamic one dynamic one dynamic one dynamic one dynamic one dynamic one</div></label>
				            </li>                                                                      
				        </ul>
	     			</div>             
  			</div> 

	

 			<div class="top-slider">
  				
  			</div>	
  			  			<div class="top-search">
  				
  			</div>  			
  			<div class="top-go">
  				
  			</div>	 				
		</div>	

		<div class="project-right-bar">
		</div>		

		<div class="projects-left-bar">	
			<div class="project">
				<div class="project-cover">
				</div>	
						<div class="project-details">
							<div class="project-title">
								<h3>
								 	The Secret of Kells 
								</h3>
							</div>	
							<div class="project-catg">
								Cartoon Saloon (2010)
							</div>	
							<div class="project-ctags">
								<div class="tag-type-1">
									Animation
								</div>	
								<div class="tag-type-2">
									2D
								</div>									
							</div>	
							<div class="project-choice">
								<div class="choice-button">
									choose
								</div>	
							</div>																						
						</div>
			</div>	
					<div class="project">
						<div class="project-cover">
						</div>	
						<div class="project-details">
							<div class="project-title">
								<h3>
								 	The Secret of Kells 
								</h3>
							</div>	
							<div class="project-catg">
								Cartoon Saloon (2010)
							</div>	
							<div class="project-ctags">
								<div class="tag-type-1">
									Animation
								</div>	
								<div class="tag-type-2">
									2D
								</div>									
							</div>	
							<div class="project-choice">
								<div class="choice-button">
									choose
								</div>	
							</div>																					
						</div>	
					</div>	

					<div class="project">
						<div class="project-cover">
						</div>	
						<div class="project-details">
							<div class="project-title">
								<h3>
								 	The Secret of Kells 
								</h3>
							</div>	
							<div class="project-catg">
								Cartoon Saloon (2010)
							</div>	
							<div class="project-ctags">
								<div class="tag-type-1">
									Animation
								</div>	
								<div class="tag-type-2">
									2D
								</div>									
							</div>	
							<div class="project-choice">
								<div class="choice-button">
									choose
								</div>	
							</div>																					
						</div>	
					</div>	

			</div>	
	</div>		
</div>	
