           
  <div class="logo-cave">
    <div class="wrapper-sidebar">
      <div class="main-logo">
          <div class="logo">
          </div>  
      </div>  
    </div>    
  </div>  

  {{> filter-block}} 

  <div class="projects-cave">
    <div class="wrapper-sidebar">
  
    </div>    
  </div> 

  <div class="year-cave">
    <div class="wrapper-sidebar">

    </div>    
  </div> 

  <div class="content-type-cave">
    <div class="wrapper-sidebar">

    </div>    
  </div> 

  <div class="subcatg-cave">
    <div class="wrapper-sidebar">

    </div>    
  </div>                   

