                       <div class="open-sidebar">
                      <button type="button" class="button side-access-2" aria-label="Close menu" type="button" data-close>
                
                      </button>
                  </div>               

  <div class="logo-cave">
    <div class="wrapper-sidebar">
      <div class="main-logo">
          <div class="logo">
            Logo
          </div>  
      </div>  
    </div>    
  </div>  

  <div class="filter-cave">
    <div class="wrapper-sidebar">
      <div class="filter-container">
        <div class="filter-title">
            Filters
        </div>  
          <div class="filter-output">

          </div>
            <div class="filter-stack">
                  <div class="f-block" id="Aleks" >

                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>      
                  <div class="f-block" id="Aleks" >
                    
                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>
                  <div class="f-block" id="Aleks" >

                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>      
                  <div class="f-block" id="Aleks" >
                    
                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>   
                  <div class="f-block" id="Aleks" >
                    
                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>    
                  <div class="f-block" id="Aleks" >
                    
                  </div>  
                  <div class="f-block" id="Aleks" >
                    
                  </div>                                                                                                                                                           

                </div>  
              </div>  
            </div>    
          </div>  

          <div class="projects-cave">
            <div class="wrapper-sidebar">

            </div>    
          </div> 
          <div class="content-type-cave">
            <div class="wrapper-sidebar">

            </div>    
          </div> 
          <div class="subcatg-cave">
            <div class="wrapper-sidebar">

            </div>    
          </div>                   

