           
  <div class="logo-cave">
    <div class="wrapper-sidebar-1">
      <div class="main-logo">
          <div class="logo">
          </div>  
      </div>  
    </div>    
  </div>  

  {{> filter-block}} 

  <div class="projects-cave">
    <div class="wrapper-sidebar-2">
      <div class="projects">
        <div class="filter-heading">
          Projects
        </div>
      </div>  
      <div class="filter-select" id="project-filter">
        20 selected
      </div>  
      <div class="select-output" id="project-output">

      </div>  
    </div>    
  </div> 

  <div class="content-type-cave">
    <div class="wrapper-sidebar-2">
      <div class="type">
        <div class="filter-heading">
          Content type
        </div>
      </div>
      <div class="filter-select" id="type-filter">
        1 selected
      </div>
      <div class="select-output" id="type-output">
    <!--    
        <div class="select-all">
          <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Select all</div></label>
        </div>  
      -->  
        <ul class="vertical menu output-list-1">
            <li class="list-item">
              <label class="list-label">
                <input type="checkbox">
                  <span class="tick"></span>
                  <div class="label-dist">
                    Test one
                  </div>
              </label>
            </li>          
            <li class="list-item">
              <label class="list-label">
                <input type="checkbox">
                  <span class="tick"></span>
                  <div class="label-dist">
                    Test two
                  </div>
              </label>
            </li>    
            <li class="list-item">
              <label class="list-label">
                <input type="checkbox">
                  <span class="tick"></span>
                  <div class="label-dist">
                    Test three
                  </div>
              </label>
            </li>    
            <li class="list-item">
              <label class="list-label">
                <input type="checkbox">
                  <span class="tick"></span>
                  <div class="label-dist">
                    Test four
                  </div>
              </label>
            </li>    
            <li class="list-item">
              <label class="list-label">
                <input type="checkbox">
                  <span class="tick"></span>
                  <div class="label-dist">
                    Test five
                  </div>
              </label>
            </li>    
            <li class="list-item">
              <label class="list-label">
                <input type="checkbox">
                  <span class="tick"></span>
                  <div class="label-dist">
                    Test six
                  </div>
              </label>
            </li>    
            <li class="list-item">
              <label class="list-label">
                <input type="checkbox">
                  <span class="tick"></span>
                  <div class="label-dist">
                    Test seven
                  </div>
              </label>
            </li>    
            <li class="list-item">
              <label class="list-label">
                <input type="checkbox">
                  <span class="tick"></span>
                  <div class="label-dist">
                    Test eight
                  </div>
              </label>
            </li>    
            <li class="list-item">
              <label class="list-label">
                <input type="checkbox">
                  <span class="tick"></span>
                  <div class="label-dist">
                    Test nine
                  </div>
              </label>
            </li>      
            <li class="list-item">
              <label class="list-label">
                <input type="checkbox">
                  <span class="tick"></span>
                  <div class="label-dist">
                    Test ten
                  </div>
              </label>
            </li>                                                                 
        </ul>
      </div>           
    </div>    
  </div>  

  <div class="dynamic-cave">
    <div class="wrapper-sidebar-2">
      <div class="dynamic">
        <div class="filter-heading">
          Dynamic name | Subcategories
        </div>
      </div>
      <div class="filter-select" id="dynamic-filter">
        3 selected
      </div>
    <div class="select-output" id="dynamic-output">
       
        <div class="select-all" id="full-select">
          <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">Select all</div></label>
        </div>  
       
        <ul class="vertical menu output-list-2">
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic one dynamic one dynamic one dynamic one dynamic one dynamic one dynamic one</div></label>
            </li>          
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic Two</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic Three</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic Four</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic Five</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic Six</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic Seven</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic Eight</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic Nine</div></label>
            </li>   
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span class="tick"></span><div class="label-dist">dynamic Ten</div></label>
            </li>                                                              
        </ul>
      </div>           
    </div>    
  </div>  

  <!--   <div class="style-cave">
    <div class="wrapper-sidebar-2">
      <div class="styles">
        <div class="filter-heading">
          Style
        </div>
      </div>
      <div class="filter-select" id="style-filter">
        test
      </div>
      <div class="select-output" id="style-output">
        <ul class="vertical menu output-list">
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Test one</div></label>
            </li>          
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Test Two</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Test Three</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Test Four</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Test Five</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Test Six</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Test Seven</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Test Eight</div></label>
            </li>
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Test Nine</div></label>
            </li>   
            <li class="list-item">
              <label class="list-label"><input type="checkbox"><span></span><div class="label-dist">Test Ten</div></label>
            </li>                                                              
        </ul>
      </div>           
    </div>    
  </div>  -->



  <!-- <div class="year-cave">
    <div class="wrapper-sidebar-2">
      <div class="years">
        <div class="filter-heading">
          Year
        </div>
      </div>  
    </div>    
  </div> -->


 <!-- <div class="sequence-cave">
    <div class="wrapper-sidebar-2">
      <div class="sequences">
        <div class="filter-heading">
          Sequence
        </div>
      </div>
      <div class="filter-select" id="sequence-filter">
        test
      </div> 
      <div class="select-output" id="sequence-output">

      </div>                
    </div>    
  </div> 


  <div class="size-cave">
    <div class="wrapper-sidebar-2">
      <div class="sizes">
        <div class="filter-heading">
          Size
        </div>
      </div>
      <div class="filter-select" id="size-filter">
        test
      </div>  
      <div class="select-output" id="size-output">

      </div>               
    </div>    
  </div>   -->               

