
        <div class="logo-cave">
            <div class="wrapper-sidebar">
              <div class="main-logo">
                <div class="logo">
                </div>  
              </div>  
            </div>    
          </div>  
          <div class="filter-cave">
            <div class="wrapper-sidebar">

            </div>    
          </div>  
          <div class="projects-cave">
            <div class="wrapper-sidebar">

            </div>    
          </div> 
          <div class="content-type-cave">
            <div class="wrapper-sidebar">

            </div>    
          </div> 
          <div class="subcatg-cave">
            <div class="wrapper-sidebar">

            </div>    
          </div>                   

