           
  <div class="logo-cave">
    <div class="wrapper-sidebar-1">
      <div class="main-logo">
          <div class="logo">
          </div>  
      </div>  
    </div>    
  </div>  

  {{> filter-block}} 

  <div class="projects-cave">
    <div class="wrapper-sidebar-2">
      <div class="projects">
        <div class="filter-heading">
          Projects
        </div>
      </div>  
      <div class="filter-select" id="project-filter">
        test
      </div>  
      <div class="select-output" id="project-output">

      </div>  
    </div>    
  </div> 

  <div class="year-cave">
    <div class="wrapper-sidebar-2">
      <div class="years">
        <div class="filter-heading">
          Year
        </div>
      </div>  
    </div>    
  </div> 

  <div class="style-cave">
    <div class="wrapper-sidebar-2">
      <div class="styles">
        <div class="filter-heading">
          Style
        </div>
      </div>
      <div class="filter-select" id="style-filter">
        test
      </div>
      <div class="select-output" id="style-output">

      </div>           
    </div>    
  </div> 

  <div class="sequence-cave">
    <div class="wrapper-sidebar-2">
      <div class="sequences">
        <div class="filter-heading">
          Sequence
        </div>
      </div>
      <div class="filter-select" id="sequence-filter">
        test
      </div> 
      <div class="select-output" id="sequence-output">

      </div>                
    </div>    
  </div> 


  <div class="size-cave">
    <div class="wrapper-sidebar-2">
      <div class="sizes">
        <div class="filter-heading">
          Size
        </div>
      </div>
      <div class="filter-select" id="size-filter">
        test
      </div>  
      <div class="select-output" id="size-output">

      </div>               
    </div>    
  </div>                  

